[Unit]
Description=Web Application Service
After=network.target

[Service]
ExecStart=/usr/bin/node /opt/webapp/connection.js  
Restart=always                                 
User=csye6225                                
Group=csye6225                                
EnvironmentFile=/etc/webapp.env                

[Install]
WantedBy=multi-user.target
